
html {
    height: 100%;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    box-sizing: border-box;
  }

 .main{
    height: 100%;
  }